## EDA

In this Jupyter Notebook we will execute some exploratory analysis on the data. The goal is to see, which cleaning steps we will need to implement in our main pipeline.

In [2]:
import wandb
import pandas as pd

In [3]:
run = wandb.init(project="nyc_airbnb", group="eda", save_code=True)

wandb: Currently logged in as: maxschloegel (use `wandb login --relogin` to force relogin)
wandb: wandb version 0.15.6 is available!  To upgrade, please run:
wandb:  $ pip install wandb --upgrade

### Load File from WandB

Here we load the latest sample-file from W&B, which represents the files we will process in the future.

In [4]:
local_path = wandb.use_artifact("sample.csv:latest").file()

In [5]:
local_path

'./artifacts/sample.csv:v1/sample2.csv'

In [6]:
df = pd.read_csv(local_path)

In [7]:
df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,NaN,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23

To get a better feel for the data and understand what cleaning steps might be important, we have a look at the general information about this dataset. Here we also can use other libraries such as `ydata_profiling` etc.

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

### Cleaning

We want to restrict our analysis and further steps to cases, where the price lies between certain ranges. Here these values are hard-coded, but in the actual cleaning step, we can store the values in the config file. This enables us to update these values easily after doing some further EDA on the data.

In [9]:
# Drop outliers
min_price = 10
max_price = 350
idx = df['price'].between(min_price, max_price)
df = df[idx].copy()
# Convert last_review to datetime
df['last_review'] = pd.to_datetime(df['last_review'])

Now we check again, if the data is in a better state:

In [14]:
import ydata_profiling

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46428 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              46428 non-null  int64
 1   name                            46413 non-null  object
 2   host_id                         46428 non-null  int64
 3   host_name                       46407 non-null  object
 4   neighbourhood_group             46428 non-null  object
 5   neighbourhood                   46428 non-null  object
 6   latitude                        46428 non-null  float64
 7   longitude                       46428 non-null  float64
 8   room_type                       46428 non-null  object
 9   price                           46428 non-null  int64
 10  minimum_nights                  46428 non-null  int64
 11  number_of_reviews               46428 non-null  int64
 12  last_review                     37246 non-null  datetime64[ns]
 13  reviews_per_month               37246 non-null  float64
 14  calculated_host_listings_count  46428 non-null  int64
 15  availability_365                46428 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(7), object(5)
memory usage: 6.0+ MB

In [ ]:
run.finish()

Widget Javascript not detected.  It may not be installed or enabled properly.